<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ueditor demo</title>
</head>

<body>
	<form action="/save" method="post">
		<!-- 加载编辑器的容器 -->
		<script id="container" name="content" type="text/plain">
            这里写你的初始化内容
        </script>
		<button type="submit">提交</button>
	</form>
	<!-- 配置文件 -->
	<script type="text/javascript" src="static/ueditor.config.js"></script>
	<!-- 编辑器源码文件 -->
	<script type="text/javascript" src="static/ueditor.all.js"></script>
	<!-- 实例化编辑器 -->
<script type="text/javascript">
</script>
	<script type="text/javascript">
		var editor = UE.getEditor('container');
	</script>
</body>

</html>